/*      FONTS           */
@font-face {
    font-family: Trajan;
    src: url(source/font/TrajanPro-Regular.ttf);
}

@font-face {
    font-family: Trajan Bold;
    src: url(source/font/TrajanPro-Bold.otf);
  }

/*       BODY          */
body {
    background-color: #F5F1ED;
    font-family: Trajan;
    width: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

/*         GENERAL          */
.div-50 {
    width: 50%;
    margin: 0;
}

.div-100-flex {
    width: 100%;
    display: flex;
}

/*      HEADER        */
header {
    background-color: #1B1B3A;
    position: sticky;
    top: 0%;
    z-index: 3;
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 55% 45%;
}

.logo-header {
    display: grid;
    grid-template-columns: 15% 85%;
    color: #F5F1ED;
    font-size: 20px;
}

.logo-header img {
    width: 100px;
    height: 100px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-self: end;
    margin-right: 20px;
}

.navbar {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 100%;
    height: 40%;
}

.nav-link-container {
    display: flex;
    gap: 32px;
    margin: 0;
    align-items: center;
    list-style: none;
}

.nav-link {
    list-style: none;
    background-color: #DDA0DD;
    border: 1px solid #A74482;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    transition: 0.5s;

}

.nav-link a {
    text-decoration: none;
    color: #1B1B3A;
}

.nav-link:hover{
    background-color: #A74482;
    border: 1px solid #DDA0DD;
    transform: translate(0,-5px);
}

/*       FOOTER        */

footer {
    background-color: #1B1B3A;
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.footer-text-content {
    color: #F5F1ED;
    font-size: 14px;
    margin-left: 1%;
}

.footer-icons{
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-icon img {
    width: 45px;
    height: 45px;
}

.footer-icon {
    list-style: none;
}

/*           PROPERS PARTITS         */

.propers-partits-titol {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 2% 0% 2%;
}

.propers-partits{
    margin: 0 2% 2% 2%; 
    padding: 15px;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    gap: 1%;

    border-radius: 10px;
}

.proper-partit{
    border: 3px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2%;
    border-radius: 8px;

}

.proper-partit:hover {
    background-color: #DDA0DD;
    color: #1B1B3A;
    transition: 0.4s;
}

.proper-partit:hover .div-vs{
    background-color: #F5F1ED;
    color: #1B1B3A;
}

.pp-texts{
    font-size: 11px;
    text-align: center;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.pp-images{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    width: 100%;
    justify-items: center;
}

.div-vs{
    font-weight: bold;
    background-color: #1B1B3A;
    color: #F5F1ED;
    width: 70%;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    justify-self: center;
    margin: 0 auto;
}

.div-pp-logo{
    width: 90%;
}

.div-pp-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.jugades-destacades{
    padding: 10px 0px;
}

.jugades-destacades h2{
    text-align: center;
}

.videos-partits{
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.video-partits {
    margin: 0px auto;
    height: auto;
    width: 90%;
}

.video-partits iframe {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

/*           EQUIP            */
.section-equip {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-around;
}

.div-equip {
    margin: 20px 0px;
    padding: 5px;
    background-color: #fff;
    text-align: center;
    border-radius: 5%;
    color: #1B1B3A;
}


.div-equip:hover {
    transform: scale(110%);
    transition: 0.5s;
    background-color: #A74482;
    color: #F5F1ED;
}

.section-equip a{
    text-decoration: none; 
    color: inherit;
}

.div-club {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 35px;
    background: linear-gradient(to bottom, #1B1B3A, #A74482);
    justify-content: space-between;
}

.div-club p {
    color: #F5F1ED;
    font-weight: bold;
}

.div-club img {
    width: 100px;
    height: 100px;
}


.section-jugadors{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
}

.section-entrenador{
    width: 100%;
}


.entrenador{
    width: 30%;
}

.jugador {
    display: grid;
    grid-template-rows: 60% 20%;
    background-color: #e8e8e8;
    color: #1B1B3A;
    border-radius: 5px;
    justify-content: space-around;
    margin: 15px 0px;
}

.jugador p {
    justify-self: center;
    text-align: center;
}

.jugador img{
    justify-self: center;
    border-radius: 100%;
    border: 1px solid #dfdfdf;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
}

/*          TABLE CLASSIFICATION     */
.container-tabla {
    display: flex;
    align-items: center;
    flex-flow:column;
    justify-content: center;
    width: 100%;
}

.container-tabla a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #1B1B3A;
    width: 100%;
    margin-bottom: 3%;
}

.tabla-clasificacion {
    width: 90%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tabla-clasificacion th, .tabla-clasificacion td {
    border: 1px solid #1B1B3A;
    padding: 12px;
    text-align: center;
    font-family: Trajan;
}

.tabla-clasificacion th {
    background-color: #1B1B3A;
    color: #F5F1ED;
    font-family: Trajan Bold;
}

.tabla-clasificacion tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-clasificacion tr:hover {
    background-color: #A74482;
    color: #F5F1ED;
    transition: 0.3s;
}

/*          ABOUT US            */
.card-about-us-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-about-us {
    position: relative;
    width: 90%;
    height: 310px;
    background-color: #1B1B3A;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card-about-us img {
    width: 300px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, 0.521));
  }
  
  .card-about-us:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card-content-about-us {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #DDA0DD;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  }
  
  .card-about-us:hover .card-content-about-us {
    transform: rotateX(0deg);
  }
  
  .card-title-about-us {
    margin-top: 2%;
    font-size: 30px;
    font-weight: 700;
  }
  
  .card-about-us:hover svg {
    scale: 0;
  }
  
  .card-description-about-us {
    margin: 10px 0 0;
    font-size: 17px;
    line-height: 1.4;
    color: #1B1B3A;
    font-family: Calibri;
  }

/* CARDS MAXIMES GOLEJADORES */
.container-cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap;
    margin-bottom: 4%;
}

.card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    text-align: center;
    margin: 2%;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.5s;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-flow: column;
  }
  
  .card-front {
    background-color: #fff;
    color: #1B1B3A;
    grid-template-rows: 50% 25% 25%;  
    display: grid;
    align-items: center;
    border: 10px solid #A74482;
    border-radius: 10px;
    justify-content: center;
    font-size: 16px;
    transform: rotateY(0deg);
  }
  
  .card-back {
    background-color: #DDA0DD;
    display: grid;
    align-items: center;
    border: 10px solid #DDA0DD;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
  }

  .card-name {
    font-size: 18px;
    color: #1B1B3A;
  }

  .card-team {
    display: grid;
    width: 50%;
    justify-self: center;
  }

  .card-foto {
    width: 25%;
    object-fit: cover;
    object-position: top;
    display: grid;
    justify-self: center;
  }
  

  /*           FORMULARI          */
  .form-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.form-container form {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
}

.form-container label {
    font-weight: bold;
    color: #1B1B3A;
}

.form-container input,
.form-container select {
    width: 80%;
    padding: 8px;
    border: 1px solid #A74482;
    border-radius: 5px;
    font-family: Trajan;
}

#posicions-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-container {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 3px 30px;
    gap: 10px;
    border: 1px solid #A74482;
    border-radius: 8px;
}

.checkbox-label-title {
    display: flex;
    justify-content: center;
}

.checkbox-label {
    display: flex;
    align-items: center;  
    justify-content: center;
    padding: 8px;
    border-radius: 5px;
    font-family: Trajan;
    cursor: pointer;
}

.btn-submit {
    background-color: #A74482;
    color: #F5F1ED;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: Trajan;
}

.btn-submit:hover {
    background-color: #DDA0DD;
    color: #1B1B3A;
}
