/*      FONTS           */
@font-face {
    font-family: Trajan;
    src: url(source/font/TrajanPro-Regular.ttf);
}

@font-face {
    font-family: Trajan Bold;
    src: url(source/font/TrajanPro-Bold.otf);
  }

/*       BODY          */
body {
    background-color: #F5F1ED;
    font-family: Trajan;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


/*      HEADER        */
header {
    background-color: #1B1B3A;
    position: sticky;
    top: 0%;
    z-index: 3;
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 55% 45%;
}

.logo-header {
    display: grid;
    grid-template-columns: 15% 85%;
    color: #F5F1ED;
    font-size: 20px;
}

.logo-header img {
    width: 100px;
    height: 100px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-self: end;
    margin-right: 20px;
}

.navbar {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 100%;
    height: 40%;
}

.nav-link-container {
    display: flex;
    gap: 32px;
    margin: 0;
    align-items: center;
    list-style: none;
}

.nav-link {
    list-style: none;
    background-color: #DDA0DD;
    border: 1px solid #A74482;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    transition: 0.5s;

}

.nav-link a {
    text-decoration: none;
    color: #1B1B3A;
}

.nav-link:hover{
    background-color: #A74482;
    border: 1px solid #DDA0DD;
    transform: translate(0,-5px);
}

/*       FOOTER        */

footer {
    background-color: #1B1B3A;
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.footer-text-content {
    color: #F5F1ED;
    font-size: 14px;
    margin-left: 1%;
}

.footer-icons{
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-icon img {
    width: 45px;
    height: 45px;
}

.footer-icon {
    list-style: none;
}

/*           PROPERS PARTITS         */

.propers-partits-titol {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 2% 0% 2%;
}

.propers-partits{
    margin: 0 2% 2% 2%; 
    padding: 15px;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    gap: 1%;
    background-color: #fff;
    border-radius: 10px;
}

.proper-partit{
    border: 1px solid #1B1B3A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2%;
    border-radius: 8px;

}

.proper-partit:hover {
    background-color: #A74482;
    color: #F5F1ED;
    transition: 0.4s;
}

.proper-partit:hover .div-vs{
    background-color: #F5F1ED;
    color: #1B1B3A;
}

.pp-texts{
    font-size: 11px;
    text-align: center;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.pp-images{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    width: 100%;
    justify-items: center;
}

.div-vs{
    font-weight: bold;
    background-color: #1B1B3A;
    color: #F5F1ED;
    width: 70%;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    justify-self: center;
    margin: 0 auto;
}

.div-pp-logo{
    width: 90%;
}

.div-pp-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.jugades-destacades{
    padding: 10px 0px;
}

.jugades-destacades h2{
    text-align: center;
}

.videos-partits{
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.video-partits {
    margin: 0px auto;
    height: auto;
    width: 90%;
}

.video-partits iframe {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

/*           EQUIP            */
.section-equip {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-around;
}

.div-equip {
    margin: 20px 0px;
    padding: 5px;
    background-color: #d5d5d5;
    text-align: center;
    border-radius: 5%;
    color: #1B1B3A;
}


.div-equip:hover {
    transform: scale(110%);
    transition: 0.5s;
    background-color: #A74482;
    color: #F5F1ED;
}

.section-equip a{
    text-decoration: none; 
    color: inherit;
}

.div-club {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    margin: 2%;
    font-size: 35px;
}

.div-club img {
    width: 150px;
    height: 150px;
}

.section-jugadors{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
}

.section-entrenador{
    width: 100%;
    display: flex;
    justify-content: center;
}

.entrenador{
    width: 30%;
}

.jugador {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e8e8e8;
    color: #1B1B3A;
    border-radius: 5%;
    justify-content: space-around;
    margin: 15px 0px;
}

.jugador img{
    border-radius: 100%;
    border: 1px solid #dfdfdf;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
}

/*          TABLE CLASSIFICATION     */
.container-tabla {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
}

.tabla-clasificacion {
    width: 90%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.tabla-clasificacion th, .tabla-clasificacion td {
    border: 1px solid #1B1B3A;
    padding: 12px;
    text-align: center;
    font-family: Trajan;
}

.tabla-clasificacion th {
    background-color: #1B1B3A;
    color: #F5F1ED;
    font-family: Trajan Bold;
}

.tabla-clasificacion tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-clasificacion tr:hover {
    background-color: #A74482;
    color: #F5F1ED;
    transition: 0.3s;
}